{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": [1, 70, 2, { "ignoreComments": true }],
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.js", "**/webpack*.js"]
      }
    ],
    "import/no-unresolved": [2, { "commonjs": false }]
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}
